<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS CLI</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="w-full h-screen p-12 bg-primary">
      <div class="prose prose-lg">
        <h1>Get started with Tailwind CSS</h1>
        <p>
          Tailwind CSS works by scanning all of your HTML files, JavaScript
          components, and any other templates for class names, generating the
          corresponding styles and then writing them to a static CSS file.
        </p>
        <a href="https://tailwindcss.com" target="_blank">
          <strong>Visit the official page</strong>
        </a>
        <div class="mt-12">
          <a
            href="https://twitter.com/tailwindcss"
            target="_blank"
            class="px-8 py-3 rounded-md bg-sky-300 shadow-md text-white hover:bg-sky-400"
            >Follow on Twitter</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
